* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
	min-width: 100vw;
	background-color: #f0f4f5;
}

main {
	nav {
		min-height: 20vh;
		margin: 0% 6em;
		display: flex;
		justify-content: space-between;
		align-items: center;

		ul {
			min-width: 40%;
			display: flex;
			list-style: none;
			justify-content: space-between;
			font-size: 1.6rem;
			font-weight: 600;

			> :nth-child(1) {
				color: #41d399;
			}
		}
	}

	section {
		display: grid;
		grid-template-columns: 4fr 2.2fr;
		min-height: 80vh;
		background-image: url(./images/stethoscope.png);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		overflow: hidden;
		> img {
			position: absolute;
			height: 60px;
			bottom: 2em;
			right: 44%;
		}
		.left {
			margin-left: 6em;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			max-width: 70%;
			.top {
				height: 40px;
				width: 40px;
			}
			h1 {
				font-size: 6rem;
			}
			p {
				font-size: 1.6rem;
				color: #7c7c7c;
			}
			button {
				width: fit-content;
				background-color: #20bc7e;
				border: none;
				padding: 0.8em 2em;
				border-radius: 2em;
				font-weight: 600;
				color: #f0f4f5;
				font-size: 2rem;
			}
			.bottom {
				height: 40px;
				width: 40px;
			}

			> :nth-child(4) {
				display: flex;
				justify-content: space-between;
			}
		}
		.right {
			// height: 100%;
			.doc_img {
				// overflow: hidden;

				> :nth-child(1) {
					position: absolute;
					height: 80%;
					right: 30px;
					z-index: 2;
				}
				> :nth-child(2) {
					position: absolute;
					height: 60%;
					bottom: 2em;
					right: 1px;

					z-index: 1;
				}
				> :nth-child(3) {
					position: absolute;
					height: 68%;
					// bottom: 6em;
					bottom: 2em;
					right: 2em;
					// top: 0;
					z-index: 0;
				}
			}
		}
	}
}
